# Common
.env
**/.env
.DS_*
.Trash-*
build/
dist/

# Docker
docker/*/volumes/db/data
docker/*/volumes/storage
docker/*/test.http
docker/*/docker-compose.override.yml

# Node, NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
package-lock.json
.nx/cache

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
